.books {
  color: #f1f1f1;
  background-color: #9e9696;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.books h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters select {
  margin: 0 10px;
  padding: 8px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.book-card {
  background-color: #a39d9d;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-details {
  flex: 1;
}

.book-details h3 {
  color: white;
  margin-bottom: 10px;
}

.book-details p {
  color: black;
  margin-bottom: 5px;
}

.book-details .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.book-actions button {
  padding: 8px 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
}

.book-actions button:hover {
  background-color: darkgoldenrod;
  color: black;
}
