/* src/styles/Library.css */

.library {
  color: gold;
  background-color: #cec3c3;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.library h2 {
  color: black;
  text-align: center;
}

.slides-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 20px;
  align-content: space-around;
  justify-content: space-between;
}

.slide {
  flex: 0 0 auto;
  width: 300px;
  padding: 15px;
  border: 1px solid #8e8d86;
  border-radius: 8px;
  background-color: #04124a85;
}

.slide h3 {
  color: black;
  margin-bottom: 5px;
}

.slide p {
  color: white;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide-buttons {
  margin-top: 10px;
}

.read-button, .add-chapter-link {
  color: black;
  background-color: #787e79a3;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 4px;
}

.read-button:hover, .add-chapter-link:hover {
  background-color: darkgoldenrod;
  color: black;
}
