/* Navbar Styles */
nav {
background-color: #2e2e2c;
padding: 10px 20px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}

li {
margin: 0 10px;
}

li a {
color: white;
text-decoration: none;
padding: 10px 15px;
transition: background-color 0.3s;
}

li a:hover {
background-color: #555;
border-radius: 5px;
}

nav.Main-nav {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 6px #2e2e2c70;
}

.logo-menu-container {
display: flex;
align-items: center;
margin-left: 50px;
}
.signin-container {
margin-right: 50px;
}

/* Logo Styles */
.logo {
  width: auto;
  height: 60px;
  position: relative;
}


/**/
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 0px 0px 6px #ffffff70;
  background-color: #fff;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: #2e2e2c;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 50%;
  transition-duration: .3s;
  padding-left: 0px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 50%;
  transition-duration: .3s;
  padding-right: 0px;
  text-align: left;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

.text a {
  text-decoration: initial;
  color: #2e2e2c;
}

.signin-container ul button {
  margin-left: 5px;
}