.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #5a5555;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(80 73 73 / 10%);
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-label {
  margin-bottom: 10px;
}

.profile-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.profile-buttons {
  margin-top: 20px;
}

.profile-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.profile-buttons button.profile-submit-btn {
  background-color: #4CAF50;
  color: white;
}

.profile-buttons button.profile-cancel-btn {
  background-color: #f44336;
  color: white;
}

.profile-details {
  margin-top: 20px;
}

.profile-details h2 {
  margin-bottom: 10px;
}

.profile-details p {
  margin-bottom: 5px;
}

.profile-details button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.profile-details button.profile-edit-btn {
  background-color: #2196F3;
  color: white;
}

.profile-details button.profile-library-btn {
  background-color: #FF9800;
  color: white;
}
